body {
    background: rgb(23, 23, 23);
    color: #fff;
}
html, body {
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}
#mainSearch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-flow: column;
}
#mainSearch > div {
    width: 40%;
}
#mainSearch h1 {
    font-size: 3rem;
}
#sectionEpisodes {
    width: 100%;
    height: 100%;
    display: none;
}
#episodesList {
    width: 12rem;
    height: 100%;
    overflow: auto;
    border-right: .4px solid #5d5757;
}
#episodesList div {
    height: 107px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    word-wrap: break-word;
    border-bottom: 1px solid gray;
}
#episodesList div.active {
    border: 1px solid deepskyblue;
}
#video {
    flex: 1;
}
#video webview {
    height: 100%;
}